.custom-audio-player{
    width: 100vw;
    height: 40px;
    position: fixed;
    bottom: -5px;
    left: 0px;
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    background-color: rgb(14, 2, 21, 0.5);
}
.audio-button{
    border: none;
    background-color:transparent;
    color: var(--white);
    font-size: 1.2rem;
}
.display-image-player{
    width: 50px;
    height: 65px;
    object-fit: cover;   
}
.duration-range{
    filter: hue-rotate(25deg);
    width: 100%;
}
.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    width: 55%;

}
.volume-range{
    filter: hue-rotate(25deg);
    width: 18%;
}